@model IEnumerable<Manufacturer>

<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Manufacturer
    </button>
    <div class="dropdown-menu">
        @foreach (var manufacturer in Model)
        {
            <a class="dropdown-item" asp-area="" asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-route-id="@manufacturer.Id">
                @manufacturer.Name 
                <img src="@manufacturer.LogoUrl" alt="@manufacturer.Name" width="30" height="30" />
            </a>
        }
    </div>
</div>