@model IEnumerable<ProductIndexViewModel>
@{
    var skip = 0;
}
@while (true)
{
    var productItems = Model.Skip(skip).Take(3).ToList();

    if (productItems.Count == 0)
    {
        break;
    }
   
    <div class="card-group">
        @foreach (var product in productItems)
        {
            var newPrice = Math.Round(product.Price - ((product.Price * product.Discount) / 100), 2);


            <div class="card col-4 thumbnail">

                <img class="card-image-top img-fluid img-thumbnail"
                     onerror="this.src='@product.PictureUrl'"
                     src="@product.PictureUrl" height="250" width="300">
               
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text" ><strong>Weight</strong> - @product.Weight kg.</p>
                    @if (product.Discount > 0)
                    {
                        <p class="card-text"><strong>Discount</strong> - @product.Discount%</p>
                        <p class="card-text"><strong>Price</strong> - <span style="color:red">@newPrice &euro;</span> <strike>@product.Price &euro;</strike></p>
                    }
                    else
                    {
                        <p class="card-text"><strong>Price</strong> - @product.Price &euro;</p>
                    }
                </div>

                <div class="card-footer">
                    <a class="btn btn-info"
                       asp-area="" asp-page="/ProductInfo" asp-route-id="@product.Id">
                        Info
                    </a>
                    @{
                        if (this.User.IsInRole("Administrator"))
                        {
                            <a class="btn btn-warning"
                               asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">
                                Edit
                            </a>
                            <a class="btn btn-danger"
                               asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">
                                Delete
                            </a>
                        }
                    }

                </div>
            </div>
        }
        @{
            skip += 3;
        }
    </div>
    <br />
}
