@model GroceryStore.Common.ViewModels.ShoppingCart.ProductCartViewModel
@{
    var parms = new Dictionary<string, string>
    {
    { "id",Model.Id.ToString() },
    { "weight",Model.Weight.ToString() }

};
}

<div class="list-group">
    <div class="list-group-item">
        <div class="media">
            <a class="btn btn-outline-danger btn-lg align-self-center mr-3"
              asp-area="" asp-controller="ShoppingCart" asp-action="RemoveFromCart"
               asp-all-route-data="parms">X</a>
            <div class="media-body align-self-center">
                <img class="@Model.PictureUrl" height="127" src="@Model.PictureUrl"
                     width="227" alt="Generic placeholder image">
            </div>
            <div class="media-body align-self-center">
                <h4 class="mb-1"> @Model.Name </h4>
            </div>
            <div class="media-body align-self-center">
                <h4 class="mb-1">Price: @Model.Price &euro; </h4>
            </div>
            <div class="media-body align-self-center">
                <h4 class="mb-1">Weight: @Model.Weight</h4>
            </div>
            <div class="media-body align-self-center">
                <h4 class="mb-1">Quantity: @Model.Quantity</h4>
            </div>
        </div>
    </div>
</div>

