@model UserIndexViewModel

<tr>
    <td>@Model.Id</td>
    <th>@Model.Email</th>
    <th>
        <a class="btn btn-info"
           asp-area="Admin" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Id">
            Details
        </a>
        <a class="btn btn-primary"
           asp-area="Admin" asp-controller="Users" asp-action="ChangePassword" asp-route-id="@Model.Id">
            Change Password
        </a>
        <a class="btn btn-warning"
           asp-area="Admin" asp-controller="Users" asp-action="Ban" asp-route-id="@Model.Id">
            Ban
        </a>
        <a class="btn btn-danger"
           asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id">
            Delete Account
        </a>
    </th>
</tr>
