@page "{id:int}.{handler?}"
@model GroceryStore.Web.Pages.ProductInfoModel
@{
    var newPrice = Math.Round(Model.ProductModel.Price - ((Model.ProductModel.Price * Model.ProductModel.Discount) / 100), 2);

    ViewData["Title"] = "ProductInfo";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="card-image-top img-fluid img-thumbnail"
                 onerror="this.src='@Model.ProductModel.PictureUrl'"
                 src="@Model.ProductModel.PictureUrl" height="500" width="500">
            <br />
            <br />
            <br />
            @foreach (var image in Model.ProductModel.Images)
            {
                <img class="card-image-top img-fluid img-thumbnail"
                     onerror="this.src='@image.Url'"
                     src="@image.Url" height="250" width="250">

            }
        </div>
        <div class="col-sm-6">
            <h3>@Model.ProductModel.Name</h3>
            <hr />
            @if (Model.ProductModel.Discount > 0)
            {
                <p class="card-text"><strong>Discount</strong> - @Model.ProductModel.Discount%</p>
                <p class="card-text"><strong>Price</strong> - <span style="color:red">@newPrice &euro;</span> <strike>@Model.ProductModel.Price &euro;</strike></p>
            }
            else
            {
                <p class="card-text"><strong>Price</strong> - @Model.ProductModel.Price &euro;</p>
            }
            <br />
            <form method="get">
                <span><strong>Quantity: </strong></span>
                <a class="btn btn-default"
                   asp-page-handler="DecreaseCount" asp-route-id="@this.RouteData.Values["id"]">
                    <i style="font-size: 23px;" class="fas fa-minus"></i>
                </a>
                <label> @Model.Quantity </label>
                <a class="btn btn-default" asp-page-handler="IncreaseCount" asp-route-id="@this.RouteData.Values["id"]">
                    <i style="font-size: 23px;" class="fas fa-plus"></i>
                </a>
            </form>
            <br />
            <form method="post">
              @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Add To Cart</button>
            </form>
            <hr />
            <br />
            <br />
            <p><strong>Description</strong></p>
            <p><strong>Team - </strong>@Model.ProductModel.Manufacturer.Name</p>
            <p><strong>Brand - </strong>@Model.ProductModel.Type</p>
            <p><strong>Gender - </strong>@Model.ProductModel.Kind</p>
            <p><strong>Type - </strong>@Model.ProductModel.Type</p>            
        </div>
    </div>
</div>


